@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap');

@theme {
  --font-sans: 'Lato', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  font-family: var(--font-sans);
  background-color: #F9FAFB;
}

h1, h2, h3 {
  font-family: var(--font-serif);
}